@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using Be
@using BLL
@using DAL;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/User/css/style.css" rel="stylesheet">
    <link href="/User/css/all.css" rel="stylesheet">
    <link href="/User/bootstrap-5.0.2-dist/css/bootstrap.rtl.css" rel="stylesheet">
    <link rel="stylesheet" href="/User/css/fontawesome.min.css">
    <link rel="stylesheet" href="/User/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/User/css/owl.carousel.min.css">
    <title>قالب فروشگاهی شیفته</title>
    @RenderSection("Pre", required: false)
</head>

<body>
    <!-- Header -->
    <div class="navbar-top">
        <div class="container-fluid">
            <div class="header-top">
                <div class="logo-box">
                    <a href="#"><img src="/User/images/logo.jpg" alt=""></a>
                </div>
                <div class="search-box">
                    <form class="d-flex">
                        <input type="search" placeholder="جستجو" aria-label="جستجو">
                        <button class="search-btn" type="submit"><span><i class="fas fa-search"></i></span></button>
                    </form>
                </div>
                <div class="info-box">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1 ml-auto">

                            <li class="nav-item ml-auto">
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="btn nav-link text-dark">خروج</button>
                                </form>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <div class="account-section">
                            <a asp-action="Register" asp-controller="Account">
                                <span><i class="fas fa-user"></i></span>
                                <span class="account-info">
                                    ثبت نام
                                </span>
                            </a>

                        </div>

                        <div class="account-section">
                            <a asp-action="Login" asp-controller="Account">
                                <span><i class="fas fa-sign-in"></i></span>
                                <span class="account-info">
                                   ورود  
                                </span>
                            </a>

                        </div>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            @User.Identity.Name
                        </div>
                    }
                    <div class="checkout-box">
                        <a href="#">
                            <span><i class="icon_bag_alt fa-2x"></i></span>
                            @if (HttpContextAccessor.HttpContext.Session.GetString("Kalas") != null)
                            {
                                var kalas = JsonConvert.DeserializeObject<List<MARKET.Models.SessionKalaViewModel>>(HttpContextAccessor.HttpContext.Session.GetString("Kalas"));

                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white">
                                    @kalas.Count
                                </span>

                            }

                        </a>

                        <div class="custom-menu">
                            <div id="shopping-cart">
                                <div class="shopping-cart-list">
                                    @if (HttpContextAccessor.HttpContext.Session.GetString("Kalas") != null)
                                    {var kalas = JsonConvert.DeserializeObject<List<MARKET.Models.SessionKalaViewModel>>(HttpContextAccessor.HttpContext.Session.GetString("Kalas"));
                                        @foreach (var item in kalas)

                                        {
                                            <div class="product-widget">
                                                <div class="product-thumb">
                                                    <img id="img" src="/images/product/@item.Pic" alt="">
                                                </div>
                                                <div class="product-body">
                                                    <h3 class="product-price"><span class="qty">@item.Name</span></h3>
                                                    <h2 class="product-name"><a href="#">@item.Count</a></h2>
                                                </div>
                                                <a asp-action="Delete" asp-controller="Order" asp-route-Id="@item.Id" class="cancel-btn"><i class="fa fa-trash"></i></a>
                                            </div>
                                        }
                                        <div class="shopping-cart-btns">
                                            <a asp-action="Checkout" asp-controller="Order" class="btn btn-dark">مشاهده </a>
                                            <a class="btn btn-info text-white">
                                                پرداخت
                                                <i class="fa fa-arrow-circle-left"></i>
                                            </a>
                                        </div>
                                    }
                                    @if (HttpContextAccessor.HttpContext.Session.GetString("Kalas") == null)
                                    {
                                        <div class="product-widget">

                                            <div class="product-body">
                                                <h3 class="product-price"><span class="qty">سبد خالی است</span></h3>
                                            </div>

                                        </div>
                                    }

                                </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <!-------- menu links header --------->
    <navigation>

        <nav class="navbar navbar-expand-lg navbar-light nav-Menu-links">
            <div class="container-fluid">
                <label class="hamburger-toggle">

                    <input class="navbar-toggler collapsed btnMenu" type="checkbox" id="ckeck" data-bs-toggle="collapse"
                           data-bs-target="#navbar-content">

                    <span></span>
                    <span></span>
                    <span></span>

                </label>

                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Home" class="nav-link active" aria-current="page"><i class="icon_house_alt"></i> صفحه اصلی</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Shop" asp-controller="User" asp-route-Id="1" class="nav-link" aria-current="page"><i class="icon_bag_alt"></i> فروشگاه</a>
                        </li>
                        @{
                            db db1 = new db();
                            if (db1.catogories != null)
                            {
                                var catogorys = db1.catogories.ToList();
                                foreach (var i in catogorys.Where(i=>i.ParentId ==null))
                                {
                                <li class="nav-item dropdown dropdown-mega position-static">
                                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">@i.Title</a>
                                    <div class="dropdown-menu shadow">
                                        <div class="mega-content px-4">

                                            <div class="mega-box">
                                                <div class="mega-list">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-sm-12 col-md-4">
                                                            @foreach (var Item in catogorys.Where(o=>o.ParentId == i.Id))
                                                            {
                                                            <div class="btn-group show" role="group">
                                                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                              @Item.Title
                                                                </button>
                                                                @foreach (var items in catogorys.Where(o => o.ParentId == Item.Id))
                                                                {
                                                                   <a class="dropdown-item" asp-action="Shop" asp-controller="User" asp-route-Id="@items.Id">@items.Title</a>   
                                                                }
                                                                </div>                                                  
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mega-img shadow-one">
                                                    <img src="/User/images/bg-4.jpg" class="img-menu" alt="image">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                    }
                                }



                            }

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="contact.html"><i class="icon_phone"></i> ارتباط با ما</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </navigation>
    <!-- End Header -->
    <!-- footer -->
    <div>
        @RenderBody()
    </div>

    <footer>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="aboute">
                        <h2>درباره شیفته</h2>
                        <p>
                            این یک قالب فروشگاهی آماده جهت استفاده طراحان وب می باشد و تمام محصولات موجود در آن بعنوان نمونه طراحی است.
                        </p>
                        <div class="social-media">
                            <a href="#">
                                <span class="instagram">
                                    <i class="fab fa-instagram"></i>
                                    <em>instagram</em>
                                </span>
                            </a>
                            <a href="#">
                                <span class="telegram">
                                    <i class="fab fa-telegram-plane"></i>
                                    <em>telegram</em>
                                </span>
                            </a>
                            <a href="#">
                                <span class="twitter">
                                    <i class="fab fa-twitter"></i>
                                    <em>twitter</em>
                                </span>
                            </a>
                            <a href="#">
                                <span class="facebook">
                                    <i class="fab fa-facebook-f"></i>
                                    <em>facebook</em>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">

                    <div class="contact-us">
                        <h2>
                            ارتباط با ما
                        </h2>
                        <div class="address">
                            <span><i class="fas fa-map-marker-alt"></i></span>
                            <p>ایران، شیراز</p>
                        </div>
                        <div class="phone">
                            <span><i class="fas fa-phone"></i></span>
                            <p>0123456789</p>
                        </div>
                        <div class="mail">
                            <span><i class="fas fa-envelope"></i></span>
                            <p>shifeh@examplem.com</p>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="follow-Me">
                        <h2>
                            ما را دنبال کنید
                        </h2>
                        <P>
                            ایمیل یا شماره موبایل خود را جهت عضویت در خبرنامه ثبت کنید
                        </P>
                        <div class="sub-box">

                            <form class="d-flex">
                                <input type="text" placeholder="عضویت در خبرنامه">
                                <button class="btn-sub" type="submit">عضویت</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div id="namad-slider" class="carousel slide carousel-min-banner" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item  active" data-bs-interval="2000">
                                <div class="banner-namad-slider">
                                    <img src="/User/images/samandehi-logo.png" alt="...">
                                    <div class="info">
                                        <h2>فاقد اعتبار</h2>

                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item " data-bs-interval="2000">
                                <div class="banner-namad-slider tow">
                                    <img src="/User/images/enamad1_logo.png" alt="...">
                                    <div class="info">
                                        <h2>فاقد اعتبار</h2>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>

            </div>
        </div>
    </footer>

    <script src="/User/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/User/js/all.js"></script>
    <script type="text/javascript" src="/User/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
    <script src="/User/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/User/js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/User/js/app.js"></script>
    <script type="text/javascript" src="/User/js/countdown.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>